{
  "plugins": [
    "@babel/plugin-syntax-jsx",
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h",
      "pragmaFrag": "Fragment",
      "useBuiltIns": true
    }],    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}